unset OS_TOKEN OS_URL
export OS_PROJECT_DOMAIN_ID=default
export OS_USER_DOMAIN_ID=default
export OS_PROJECT_NAME=admin
export OS_TENANT_NAME=admin
export OS_USERNAME={{ADMIN_USER}}
export OS_PASSWORD={{ADMIN_PASS}}
export OS_AUTH_URL=http://{{MY_PRIVATE_IP}}:35357/v3
export OS_VOLUME_API_VERSION=2
