unset OS_TOKEN OS_URL
export OS_PROJECT_DOMAIN_ID=default
export OS_USER_DOMAIN_ID=default
export OS_PROJECT_NAME=demo
export OS_TENANT_NAME=demo
export OS_USERNAME={{DEMO_USER}}
export OS_PASSWORD={{DEMO_PASS}}
export OS_AUTH_URL=http://{{MY_PRIVATE_IP}}:5000/v3
