[DEFAULT]
rpc_backend = rabbit
auth_strategy = keystone
my_ip = {{MY_PUBLIC_IP}}
vncserver_listen = {{MY_PUBLIC_IP}}
vncserver_proxyclient_address = {{MY_PUBLIC_IP}}

[oslo_messaging_rabbit]
rabbit_host = {{MY_PRIVATE_IP}}
rabbit_userid = openstack
rabbit_password = {{RABBIT_PASS}}

[database]
connection = mysql://{{NOVA_DBUSER}}:{{NOVA_DBPASS}}@localhost/nova

[keystone_authtoken]
auth_uri = http://{{MY_PRIVATE_IP}}:5000
auth_url = http://{{MY_PRIVATE_IP}}:35357
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = {{SERVICE_PROJECT}}
username = {{NOVA_USER}}
password = {{NOVA_PASS}}
 
[glance]
host = {{MY_PRIVATE_IP}}

[oslo_concurrency]
lock_path = /var/lib/nova/tmp
