[DEFAULT]
rpc_backend = rabbit
auth_strategy = keystone
core_plugin = ml2
service_plugins = router
allow_overlapping_ips = True
notify_nova_on_port_status_changes = True
notify_nova_on_port_data_changes = True
nova_url = http://{{MY_PRIVATE_IP}}:8774/v2

[oslo_messaging_rabbit]
rabbit_host = {{MY_PRIVATE_IP}}
rabbit_userid = openstack
rabbit_password = {{RABBIT_PASS}}

[database]
connection = mysql://{{NEUTRON_DBUSER}}:{{NEUTRON_DBPASS}}@{{MY_PRIVATE_IP}}/neutron

[keystone_authtoken]
auth_uri = http://{{MY_PRIVATE_IP}}:5000
auth_url = http://{{MY_PRIVATE_IP}}:35357
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = {{SERVICE_PROJECT}}
username = {{NEUTRON_USER}}
password = {{NEUTRON_PASS}}
 
[nova]
auth_url = http://{{MY_PRIVATE_IP}}:35357
auth_plugin = password
project_domain_id = default
user_domain_id = default
region_name = {{REGION_NAME}}
project_name = {{SERVICE_PROJECT}}
username = {{NOVA_USER}}
password = {{NOVA_PASS}}
